/* for mobile responsive nav bar */
@media screen and (max-width:576px) {
    .hamburger{
        display: flex;
        align-items: center;
    }
    .nav-btn-container{
        display: none;
    }
    .get-body-container{
        flex-direction: column; 
    }
    
    .get-body{
        width: 100%;
    }
    .get-body button{
      width: 180px;
      height: 60px ;
      
    }
    h3{
        font-weight: 900;
        font-size: 4rem;
    }
    .paragraph{
        color: #FFFFFF80;
        padding-top: 20px;
        font-weight: 300;
        font-size: 1.6rem;
        padding-right: 90px;
    }
    .img-first{
        justify-content: center;
        align-items:center;
        padding-top: 650px;
        margin: 0 auto;
       width: 100%;
    }
    .gym-video-badge{
        padding: 10px 20px;
        margin-inline-start: 300px;
        margin-block-start: -850px;
        width: 180px;
    }
    #gym-video-badge-text{
        font-weight: 800;
        font-size: 30px;
    }
    .btn-para{
        font-size: 15px;
    }
    .lower-btn-second-sec{
       margin-block-start: 70px;
       width: 180px;
       margin-left: 151px;
      }
      .change-habit-first{
        margin: 0 auto;
        text-align: center;
        padding: 0px 20px 40px 20px;
      }
      .image-section{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        gap: 50px;
        padding-left: 80px;
        padding-right: 80px;
      }
      .change-habit-first p {
        margin: 20px;
      }
      .second-paragraph{
        font-size: 1.2rem;
      }
      .image-section h4{
        font-size: 1.3rem;
        margin-bottom: 5px;
      }
      .run-xtra-mile-sec-sub-main{
        flex-direction: column;
       margin-left: 30px;
       margin-right: 30px;
        
      }
      #run-section-child{
        width: 100%;
       
      }
      #run-section-child p{
        font-size: 1.4rem;
      }

      #run-section-child button{
        width: 100%;
        height: 60px;
        font-size: 1.5rem;
        font-weight: 600;
      }
      #run-section-child-2{
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        
      }
      .unique-sec-submain{
        flex-direction: column;
        margin: 0 auto;
        padding-top: 0px;
        padding-left: 30px;
        
      }
      .uni-images-section{
        padding-right: 0px;
      }
      .unique-sec-submain img{
        width: 90%;
        
      }
      .two-image-together{
        flex-direction: column;
        
      }
      .image-2{
        padding-top: 0;
      }
      .image-3{
        margin-top: 40px;
        margin-left: 0px;
        margin-bottom: 30px;
      }
      .uni-text-section{
        text-align: justify;
        padding-left: 10px;
        padding-right: 40px;
      }
      .row-1{
        grid-template-columns: repeat(1, 1fr);
        
      }
      .two-section-same{
        margin-left: 20px;
        margin-right: 20px;
      }
      .trainer-profile-container{
        margin: 0 auto;
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        align-content: center;
        align-items: center; 
    }
    .trainer-card img{
      width: 90%;
      align-items: center;
      margin-left: 20px;
    }
    .trainer-info{
      left: 40px;
    }
    .footer{
      flex-direction: column;
    }
    .get-start{
      padding: 0;
    }
    hr{
      width: 90%;
    }
    .bmi-main-sec{
      padding-left: 20px;
    }
    .bmi-calc-container{
      flex-direction: column;
     padding-left: 30px;
      
    }
   table{
    width: 90%;
   
   }
    .bmi-form{
      margin: 0 auto;
      padding-right: 0px;
      padding-top: 30px;
    }
    .input-decor{
      width: 200px;
    }
    #special-text{
      width: 79%;
    }
}

